<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pdpproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_equify"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_equify"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.Setting"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activities.Player" />
        <activity android:name=".activities.SpotifyPlayer" />
        <activity android:name=".activities.DeezerPlayer" />
        <activity android:name=".activities.AdminPanelActivity" />
        <activity
            android:name=".activities.LoginPageActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ListUsersActivity" />
    </application>

</manifest>